{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12 search">
            <form method="GET" action="{% url 'search' %}">
                <div id="custom-search-inputt">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..."
                        name="query" value="{{req.GET.query}}">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>