{% load static %}

{% block style %}  
    <link rel="stylesheet" href="{% static 'lib/DataTables/datatables.css' %}">
{% endblock style %}

  <table class="table">
    <thead class="thead-dark"> 
        <tr>
            <th scope="col">hgjjg</th> 
            <th scope="col">jchvbh</th>
            <th scope="col">vbn</th>
            <th scope="col">gvjhkc</th>
        </tr>          
    </thead>
</table>


{% block scripts %}

  <script src="{% static 'lib/DataTables/datatables.js' %}"></script>
{% endblock scripts %}



