{% extends "base.html" %}
{% load static %}
{% block tittle %}About{% endblock tittle %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/sindicatouci.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Sobre Nosotros</h1>
        <p class="lead">La Universidad de la Ciencias Infomáticas UCI como sindicato está formado por 62 secciones sindicales, algunas de las cuales se agrupan en 6 Burós Intermedios y un Buró Sindical Especial. Dentro de las tareas 
          priorizadas que se llevan a cabo en el trabajo sindical, está la sindicalización, funcionamiento sindical y la capacitación sindical. Como parte del desarrollo de las mismas y partiendo de lo que estipula los Estatutos y Objetivos de trabajo de La CTC.
        Mientras en la Facultad 2 se encuentra una de las secciones sindicales donde, dentro de su objetivo social se encuentra el manejo de las finanzas, del aporte a a patria y la cotización de cada uno de sus trabajadores afiliados. </p>

      </div>
    </div>
  </div>
{% endblock content %}
